/*
####################################################################
## ZOUPA - (ZombyMediaIC open source usage protection agreement)  ##
## License as of: 10.05.2020 19:41 | #202005101941                ##
## Niklas Vorberg (AsP3X)                                         ##
####################################################################
*/

.users{margin:5px;background:#000;color:#fff;padding:5px;padding-left:10px;padding-right:10px;text-align:center}
